.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.combat_log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
}

#combatLogTitle {
    display: flex;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}   

.reset button {
    width: 100px;
    height: 50px;
    margin: 10px 40px 0;
}

.player__avatar {
    height: 300px;
    width: 180px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.hp {
    height: 40px;
    width: 180px;
}

.player__buttons {
    position: relative;
    display: flex;
    flex-direction: row;
}

.player__buttons button {
    margin: 0 10px 0;
    height: 50px;
    width: 75px;
}

#combatLog {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    overflow: auto;
}

.combatLogMessage {
    margin: 5px 10px 5px;
}

.combatLogTime {
    font-size: 14px;
    font-weight: 600;
}

.player_name {
    font-size: 24px;
    margin: 0 0 15px;
    width: 70%;
    height: 45px;
    text-align: center;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.important_text {
    color: red;
    font-weight: 600;
}

.player1_settings, .player2_settings {
    margin-bottom: 15px;
}

.players_settings {
    display: flex;
    flex-direction: column;
}

.settings button {
    height: 25px;
    width: 150px;
    margin-bottom: 5px;
}

.settings_buttons {
    display: flex;
    flex-direction: column;
}

.settings input {
    width: 70px;
    margin-bottom: 5px;
}

#p2_name, #p1_name {
    width: 150px;
}
